

<div class="container p-3 w-8/12 mx-auto bg-gray-400 m-3 rounded shadow-lg">
    <div class="text-center font-bold text-lg mb-2 uppercase">Add new Product</div>  
    
    <% if(productAdded){ %> 
    <div class="bg-green-400 text-center"><i class="fas fa-check"></i> Product Added Successfully</div>
    <% }%>

        <form action="/add-product" method="POST">
        
            <div class="mt-2">
                <label for="title" class="font-semibold ml-2">Title</label>
                <input type="text" name="title" id="product-title" placeholder="Title" class="w-full px-1 py-1 text-md" required>
            </div>
            <div class="mt-2">
                <label for="title" class="font-semibold ml-2">Price <span class="font-normal">(in $)</span></label>
                <input type="text" name="price" id="product-title" placeholder="0" class="w-full px-1 py-1 text-md" required>
            </div>

            <div class="mt-2">
                <label for="desc" class="font-semibold ml-2">Description</label>
                <br>
                <textarea name="description" id="desc" cols="30" rows="10" class="w-full px-2" ></textarea>
            </div>
    
            <div class="mt-2">
                <label for="title" class="font-semibold ml-2">Upload Image</label>
                <br>
                <input type="file" id="image" name="image" value="" required> 
            </div>
    
    
            <input type="submit" class="rounded-full bg-red-10 px-3 py-1 font-semibold uppercase text-gray-200 my-2 " value="Submit" id='submit'>
            <!-- <button class="rounded-full bg-red-10 px-3 py-1 font-semibold uppercase text-gray-200 my-2" id="submit">Submit</button>  -->
        </form>

</div>


<script>
    
    // const sub = document.querySelector('#submit');
    // sub.addEventListener('click',(e)=>{
    //     // e.preventDefault();
    //     let title = document.querySelector('#product-title');
    //     let desc = document.querySelector('#desc');
    //     let image = document.querySelector('#image');

    //     console.log(title.value);
    //     console.log(desc.value);
    //     console.log(image.value);
    //     console.log(typeof(image.value));
    //     let st="this String";
    //     console.log(typeof(st));
    //     let x = image.value.split('\\');
    //     console.log(x);
    //     console.log(x[x.length-1]);
       

        
    // })


</script>