<div class="flex flex-col mx-auto justify-center w-9/12 bg-gray-400 my-3">

    <div class="container p-2 flex flex-row mx-auto w-full my-4 justify-between">
        <img src="/images/rog.jpg" alt="" class="w-2/12">
        <div class=" px-2 w-9/12">
            <div class="font-semibold text-xl">Title</div>
            <div class="px-1">
                Description
            </div>
        </div>
        <div class="px-2 w-1/12 ">
            <div class="font-medium">
                Quantity:0
            </div>
            <div class="font-bold bottom-0">
                Price
            </div>

        </div>

        <hr>   

    </div>

    <div class="container mx-auto p-2 w-full bg-gray-300 mt-0">
        <div class="font-bold uppercase text-gray-10 text-xl w-full border-b border-black border-dotted">
            price details
        </div>
        <div class="flex justify-between">
            <div class="font-bold">
                Total Quantity
            </div>
            <div class="font-bold ">
                8
            </div>

        </div>

        <div class="flex justify-between">
            <div class="font-bold ">
                Total Price
            </div>
            <div class="font-bold ">
                $ 8
            </div>

        </div>


    </div>
    

    <hr class ="w-10/12 mx-auto">
   

</div>

<hr>